<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         bootstrap="tests/src/loader.php"
>
	<testsuite name="edde">
		<directory suffix=".php">tests/src</directory>
	</testsuite>
	<logging>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
		<log type="coverage-html" target=".coverage"/>
	</logging>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src/Edde</directory>
			<exclude>
				<directory suffix=".php">src/Edde/Cli</directory>
				<directory suffix=".php">src/Edde/Controller</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
