<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         bootstrap="tests/src/loader.php"
>
	<logging>
		<log type="coverage-html" target="/.coverage"/>
		<log type="coverage-text" target="php://stdout"/>
	</logging>
	<testsuite name="edde">
		<directory suffix=".php">tests/src</directory>
	</testsuite>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
	<groups>
		<exclude>
			<group>wip</group>
		</exclude>
	</groups>
</phpunit>
