nav.navbar.is-link.has-shadow
    div.container
        div.navbar-brand
            a.navbar-item(href='') Edde Framework
        div.navbar-menu
            div.navbar-end
                span.navbar-item
                    a.button.is-info.is-inverted.is-outlined(href='https://git.x32.cz/edde/edde/')
                        span.icon
                            i.fab.fa-gitlab
                        span GitLab
