doctype html
html
    head
        title Edde Framework
        link(rel='stylesheet', href='css/style.css')
    body
        section.hero.is-info.is-fullheight
            div.hero-head
                nav.navbar
                    div.container
                        div.navbar-brand
                            a.navbar-item(href='') Edde Framework
                        div.navbar-menu
                            div.navbar-end
                                a.navbar-item(href='https://api.edde-framework.org')
                                    span.icon
                                        i.fas.fa-book
                                    span API
                                span.navbar-item
                                    a.button.is-info.is-inverted.is-outlined(target='_blank', href='https://git.x32.cz/edde/edde/')
                                        span.icon
                                            i.fab.fa-gitlab
                                        span GitLab
            div.hero-body
                div.container
                    h1.title.is-size-1 Edde Framework
                    h2.subtitle The Ultimate PHP Framework
                    img(src='https://git.x32.cz/edde/edde/badges/master/pipeline.svg')
                    img(src='https://git.x32.cz/edde/edde/badges/master/coverage.svg')
