doctype html
html
    head
        title Edde Framework
        meta(charset='utf-8')
        link(rel='stylesheet', href='css/style.css')
    body
        nav.navbar.is-link.has-shadow
            div.container
                div.navbar-brand
                    a.navbar-item(href='') Edde Framework
                div.navbar-menu
                    div.navbar-end
                        span.navbar-item
                            a.button.is-info.is-inverted.is-outlined(href='https://git.x32.cz/edde/edde/')
                                span.icon
                                    i.fab.fa-gitlab
                                span GitLab

        section.hero.is-info.is-bold
            div.hero-body
                div.container
                    h1.title.is-size-1 Edde Framework
                    h2.subtitle The Ultimate PHP Framework
                    img(src='https://git.x32.cz/edde/edde/badges/master/pipeline.svg')
                    img(src='https://git.x32.cz/edde/edde/badges/master/coverage.svg')

            div.hero-foot
                nav.tabs.is-boxed.is-fullwidth
                    div.container
                        ul
                            li.is-active
                                a
                                    span.icon
                                        i.fas.fa-globe
                                    span Overview
                            li
                                a
                                    span.icon
                                        i.fas.fa-cog
                                    span Features
                            li
                                a
                                    span.icon
                                        i.fas.fa-bookmark
                                    span Installation
                            li
                                a
                                    span.icon
                                        i.fas.fa-book
                                    span Documentation
                            li
                                a(href='https://api.edde-framework.org')
                                    span.icon
                                        i.fas.fa-book
                                    span API

        nav.navbar.has-shadow
            div.container
                div.navbar-tabs
                    a.navbar-item.is-tab.is-active About Edde
                    a.navbar-item.is-tab Blablabla
                    a.navbar-item.is-tab Blablabla 2
                    a.navbar-item.is-tab Blablabla 3

        section.hero.is-info.is-large
            div.hero-body
                div.container
                    div Hello!

        footer.footer
            div.container
                div.content.has-text-centered
                    p Fůtr
