doctype html
html
    head
        title Edde Framework
        meta(charset='utf-8')
        link(rel='stylesheet', href='css/style.css')
    body
        include controls/header.pug

        section.hero.is-info.is-bold
            div.hero-body
                div.container
                    h1.title.is-size-1 Edde Framework
                    h2.subtitle The Ultimate PHP Framework
                    img(src='https://git.x32.cz/edde/edde/badges/master/pipeline.svg')
                    img(src='https://git.x32.cz/edde/edde/badges/master/coverage.svg')

            div.hero-foot
                nav.tabs.is-boxed.is-fullwidth
                    div.container
                        ul
                            li
                                a
                                    span.icon
                                        i.fas.fa-globe
                                    span Overview
                            li
                                a
                                    span.icon
                                        i.fas.fa-cog
                                    span Features
                            li
                                a
                                    span.icon
                                        i.fas.fa-bookmark
                                    span Installation
                            li
                                a
                                    span.icon
                                        i.fas.fa-book
                                    span Documentation
                            li
                                a(href='https://api.edde-framework.org')
                                    span.icon
                                        i.fas.fa-code-branch
                                    span API

        include controls/overview/index.pug
        include controls/features.pug

        footer.footer
            div.container
                div.content.has-text-centered
                    p Fůtr
