section.hero.is-info.is-hidden
    div.hero-body
        div.container.is-size-5
            p.
                Edde Framework has been born originally as a
                library for Nette Framework to fill a lot of
                dead gaps; by the later time Edde has grown to
                it's current state as a fully featured framework
                with incredibly powerfull DI container, pretty cool
                database layer not tighted (but using) to PDO and
                o lot of other nice features.
