section.hero.is-info.is-hidden
    div.hero-body
        div.container.is-size-5
            p.
                Why you should even take care about just another PHP framework around there?
                Main reason could be quite high quality codebase as there are hard requirements
                for clean code following a few critical design patterns to keep the stuff simple.

            hr

            p.
                In the ages when monolithic framework is not cool enough we provide complete toolset
                which works perfectly together and the core is open for any replacements or adjustments,
                thus you are able to alter any behavior of the framework without rewriting or copying
                stuff from inside (as some of other pieces require).

            hr

            p.
                All of that was motivation for creation of powerful framework which is simple to use,
                fast and extensible using just PHP and no other "sublanguages" like some others needs.
                If you understand PHP, you also understand Edde.
