section.hero.is-info.is-hidden
    div.hero-body
        div.container.is-size-5
            p.
                Edde Framework is fully featured PHP monolithic framework
                providing whole bunch of interesting tools to develop backend
                for modern applications.

            hr

            p.
                There is a complete toolset which nicely works within framework
                itself eliminating general need to use other tools, usually in
                quite poor quiality.

            hr

            p.
                This framework aims to be as light as possible but providing all
                necessary tools to build everything you could imagine.
